@model DBModels.AppModels.StudentDuty

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">@(string.Format(localizer["EditNew"].Value, localizer["Task"].Value.ToLower()))</p>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="GroupId" class="control-label"></label>
                                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="TaskId" class="control-label"></label>
                                <select asp-for="TaskId" class="form-control" asp-items="ViewBag.TaskId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DutyStatus" class="control-label"></label>
                            <select asp-for="DutyStatus" asp-items="ViewBag.Status" class="form-control"></select>
                            <span asp-validation-for="DutyStatus" class="text-danger"></span>
                        </div>
                        <input type="submit" value="@localizer["Save"]" class="btn btn-@AppConstants.buttonClass btn-sm" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
