@model DBModels.AppModels.Group

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <p class="mb-0">
                                @localizer["Edit"]
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-uppercase text-sm">@localizer["GroupInformation"]</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name" for="example-text-input" class="form-control-label"></label>
                                    <input asp-for="Name" class="form-control"
                                           placeholder="@(string.Format(localizer["NameWith"].Value, localizer["Group"].Value))" type="text">
                                </div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <button type="submit" class="btn btn-@AppConstants.buttonClass btn-sm ms-auto">@localizer["Save"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
